*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #a8a8a8;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 75px;
}

.time-texto-um{
background-color: #b6b3b3;
color: #000000;
display: flex;

}

.imagem-jogador{

width: 120px;
}